.conteudo{
    width: 1080px;
    margin: 0 auto;

}
.title{
    background-color: #C4C4C4;
    padding: 15px 10px;
    font-weight: bold;
    margin-bottom: 1px;
    border: 1px solid black;
}

.chat{
    border: 1px solid black;
}
.painel_mensagem{
    width: 100%;
}
.lista_mensagem{
    padding-left: 45px;
    overflow-y: auto;
    max-height: 500px;
    height: 300px;
}
.entrada_texto{
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #C4C4C4;
    padding: 10px;
}
.mensagem_historico{
    width:100%;
    height: 300px;
    margin: 0 auto;
    overflow: scroll;
}
.mensagem{
    list-style: none;
    width: 90%;
}
.mensagem p{
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 0px;

}
.buttons{
    display: flex;
    justify-content: flex-end;
}
.btn_editar{
    background-color: #F6A75D;
    border: none;
    outline: none;

}
.btn_excluir{
    background-color: #F65D5D;
    border: none;
    height: 27px;

}
.btn_enviar{
    background-color: #0066CC;
    border: none;
    padding: 5px;
    color: white;
    border-radius: 5px;
    width:20%;
}